/* 
logo second text color #000000
main text color #212121 
secondary text color #757575
third text color #FFFFFF
active text color #2196F3
background color #2F303A
*/
:root {
  --first-logo-color: #000000;
  --second-logo-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --active-text-color: #2196f3;
  --main-background-color: #ffffff;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}

body {
  font-family: Roboto, Raleway, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  width: 1600px;
  height: 2346px;
}

/* header styles */

.logo {
  font-family: Raleway;
  color: var(--active-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  /* line-height: 31px; */
}

.logo-second-part-one {
  color: var(--first-logo-color);
}

.main-nav-item {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.main-nav-item:hover,
.main-nav-item:focus {
  color: var(--active-text-color);
}

.contact-me {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-me:hover,
.contact-me:focus {
  color: var(--active-text-color);
}

/* main styles */

.hero {
  width: 1600px;
  height: 600px;
  background-color: var(--background-color);
}

.headline {
  color: var(--third-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.service {
  cursor: pointer;
  color: var(--third-text-color);
  background-color: var(--active-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

.benefit-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefit-item-discription {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* .works {
  
} */
.what-to-do {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--secondary-background-color);
}

.our-team {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-member {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* footer styles */
.footer {
  background-color: var(--background-color);
}
.logo-sec {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--active-text-color);
  text-decoration: none;
}
.logo-second-part-two {
  color: var(--second-logo-color);
}
.home {
}
